<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICarService" />
        <binding name="BasicHttpBinding_ITruckService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/CarService.svc/CarService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarService"
        contract="ICarService" name="BasicHttpBinding_ICarService" />
      <endpoint address="http://localhost:8000/TruckService.svc/TruckService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITruckService"
                contract="ITruckService" name="BasicHttpBinding_ITruckService" />
    </client>
  </system.serviceModel>
</configuration>